@import 'tailwindcss';
@import '@heroui/styles';

@source "../components";
@source "../app";
@source "../common";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-dull-lavender-50: #eeeeff;
  --color-dull-lavender-100: #e0e0ff;
  --color-dull-lavender-200: #c8c7fe;
  --color-dull-lavender-300: #a39ffb;
  --color-dull-lavender-400: #9082f7;
  --color-dull-lavender-500: #7f64f0;
  --color-dull-lavender-600: #7247e4;
  --color-dull-lavender-700: #6339c9;
  --color-dull-lavender-800: #5031a2;
  --color-dull-lavender-900: #432f80;
  --color-dull-lavender-950: #281b4b;
}

html {
  scroll-behavior: smooth;
}
